/*estilos de àrea voluntariado */

/* Estilos de títulos Dinopatitas */
.font-dinopatitas {
    font-family: 'Lora', serif;
    color: #333;
    font-weight: 800;
    letter-spacing: -0.5px;
}

.text-center h1.font-dinopatitas {
    margin-bottom: 1rem;
}

/* --- Sección Hero de Dinopatitas voluntariado--- */
.hero-construccion {
    width: 100%;
    max-width: 1140px; 
    height: 400px;     
    margin: 2rem auto; 
    overflow: hidden;
    position: relative;
    border-radius: 25px; 
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    display: block;
}

/* Ajuste de la imagen interna */
.hero-construccion img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
    object-position: center 60%; 
    transition: transform 0.5s ease;
}

.hero-construccion:hover img {
    transform: scale(1.02);
}

/* --- Adaptación para Dispositivos Móviles --- */
@media (max-width: 768px) {
    .hero-construccion {
        height: 250px;     
        border-radius: 15px;
        margin: 1.5rem auto;
    }
}

/*fin de area voluntariado */