@font-face {
    font-family: 'CattoPuroo';
    src: url('../fonts/catto.ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --menta-kawaii: #E0F7F4;
    --rosa-nube: #FFEBEE;
    --texto-cafe: #5D576B;
    --verde-agua: #80CBC4;
    --lavanda-michi: #c4e3e9;
}

body {
    font-family: 'Segoe UI', Roboto, sans-serif;
    background-color: #FBFCFC;
    color: var(--texto-cafe);
    overflow-x: hidden;
}

.font-dinopatitas {
    font-family: 'CattoPuroo', cursive !important;
    text-transform: lowercase;
}