/*header, el footer, los contenedores*/

/*header*/

.navbar-dino {
    padding: 1rem 0;
}

.site-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #eee;
    font-size: 0.9rem;
}

/* Espaciado de links en desktop */
@media (min-width: 992px) {
    .navbar-nav .nav-link {
        margin: 0 10px;
    }
}