/*header, el footer, los contenedores*/

/*header*/

/* Fondo general del navbar */
.pastel-navbar {
  background-color: #f8e8ee;
  padding: 15px 0;
}

/* Logo centrado */
.logo-pastel {
  font-size: 1.8rem;
  color: #444;
}

/* Separación horizontal de links */
.navbar-nav .nav-link {
  margin: 0 10px;
}

/*fin del header*/


