.dino-text { color: #81C784; }
.patitas-text { color: #4DB6AC; }

.card-title {
    font-family: 'Lora', serif;
    color: #7986CB;
    font-weight: bold;
}

.footer-links a {
    text-decoration: none;
    color: #8E94F2;
    transition: 0.3s;
}

.footer-links a:hover {
    padding-left: 5px;
    color: #4DB6AC;
}


/*css tienda solidaria */


/* Estilos para la tienda */
.border-pastel {
    border: 2px solid var(--menta-kawaii) !important;
}

.border-pastel:focus {
    box-shadow: 0 0 0 0.25rem rgba(178, 223, 219, 0.25);
    border-color: var(--verde-agua) !important;
}

.bg-kawaii {
    background-color: var(--menta-kawaii) !important;
}

.card-michi .btn-sm {
    font-size: 0.8rem;
    padding: 8px;
}

/* Efecto hover en imágenes de la tienda */
.card-michi img {
    transition: transform 0.5s ease;
}

.card-michi:hover img {
    transform: scale(1.1);
}


/*fin de css tienda solidaria*¨/



/*estilos de àrea voluntariado */
/* --- Sección Hero de Dinopatitas voluntariado--- */


.hero-construccion {
    width: 100%;
    max-width: 1140px; 
    height: 400px;     
    margin: 2rem auto; 
    overflow: hidden;
    position: relative;
    border-radius: 25px; 
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    display: block;
}

/* Ajuste de la imagen interna */
.hero-construccion img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
    object-position: center 60%; 
    transition: transform 0.5s ease;
}


.hero-construccion:hover img {
    transform: scale(1.02);
}

/* --- Adaptación para Dispositivos Móviles --- */
@media (max-width: 768px) {
    .hero-construccion {
        height: 250px;     
        border-radius: 15px;
        margin: 1.5rem auto;
    }
}

/*fin de area voluntariado */