.dino-text { color: #81C784; }
.patitas-text { color: #4DB6AC; }

.card-title {
    font-family: 'Lora', serif;
    color: #7986CB;
    font-weight: bold;
}

.footer-links a {
    text-decoration: none;
    color: #8E94F2;
    transition: 0.3s;
}

.footer-links a:hover {
    padding-left: 5px;
    color: #4DB6AC;
}


/*css tienda solidaria */


/* Estilos para la tienda */
.border-pastel {
    border: 2px solid var(--menta-kawaii) !important;
}

.border-pastel:focus {
    box-shadow: 0 0 0 0.25rem rgba(178, 223, 219, 0.25);
    border-color: var(--verde-agua) !important;
}

.bg-kawaii {
    background-color: var(--menta-kawaii) !important;
}

.card-michi .btn-sm {
    font-size: 0.8rem;
    padding: 8px;
}

/* Efecto hover en imágenes de la tienda */
.card-michi img {
    transition: transform 0.5s ease;
}

.card-michi:hover img {
    transform: scale(1.1);
}


/*fin de css tienda solidaria*¨/
