.bg-kawaii { background-color: var(--menta-kawaii); }
.text-pastel { color: var(--verde-agua) !important; }

@keyframes bounce {
    from { transform: translateY(0); }
    to { transform: translateY(-4px); }
}

.font-dinopatitas:hover {
    animation: bounce 0.5s infinite alternate;
}



/* Animación suave si no encuentra búsqueda */
.shake {
    animation: shake 0.4s ease;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    50% { transform: translateX(4px); }
    75% { transform: translateX(-4px); }
    100% { transform: translateX(0); }
}
