/*.text-center o .mt-2*  arreglos o parches */



.text-mint { color: #4db6ac !important; }
.bg-pastel-soft { background-color: #f1f8f7; }
.shadow-dino { box-shadow: 0 4px 15px rgba(0,0,0,0.05) !important; }