.bg-kawaii { background-color: var(--menta-kawaii); }
.text-pastel { color: var(--verde-agua) !important; }

@keyframes bounce {
    from { transform: translateY(0); }
    to { transform: translateY(-4px); }
}

.font-dinopatitas:hover {
    animation: bounce 0.5s infinite alternate;
}